#header{
    background-color: brown;
    height: 50px;
    opacity: 0%;
    transition: ease-out;
    transition-duration: 1000ms;
}

#header:hover{
    transition: ease-in;
    transition-duration: 250ms;
    opacity: 1;
}

#LandingPage{
}

#TripticContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: end;
    margin: 50px;
}

#LandingToBooking{
    background: white;
    width: 30vw;
    height: 85vh;
}

#LandingToAbout{
    background: gray;
    width: 30vw;
    height: 85vh;
}

#LandingToReviews{
    background: orangered;
    width: 30vw;
    height: 85vh;
}

#ReviewsToBooking{
    background: white;
    height: 70vh;
    width: 20vw;
}

#ReviewsToAbout{
    background: gray;
    height: 70vh;
    width: 20vw;    
}

#ReviewsToLanding{
    background: goldenrod;
    height: 70vh;
    width: 20vw;
}

#BookingToAbout{
    background: Gray;
    height: 70vh;
    width: 20vw;
}

#BookingToReviews{
    background: orangered;
    height: 70vh;
    width: 20vw;
}

#BookingToLanding{
    background: goldenrod;
    height: 70vh;
    width: 20vw;
}

#AboutToLanding{
    background: goldenrod;
    height: 70vh;
    width: 20vw;
}

#AboutToBooking{
    background: white;
    height: 70vh;
    width: 20vw;
}

#AboutToReviews{
    background: orangered;
    height: 70vh;
    width: 20vw;
}

#AboutPage{
    width: 75vw;
    height: 10vh;
    transition:all;
    transition-duration: 100ms;
    background-color: beige;
}