#header{
    background-color: brown;
    height: 50px;
}

#LandingPage{
}

#TripticContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: end;
    margin: 50px;
}

#TripticOne{
    background: white;
    width: 30vw;
    height: 85vh;
}

#TripticTwo{
    background: gray;
    width: 30vw;
    height: 85vh;
}

#TripticThree{
    background: orangered;
    width: 30vw;
    height: 85vh;
}