#header{
    background-color: brown;
    height: 50px;
    opacity: 0%;
    transition: ease-out;
    transition-duration: 1000ms;
}

#header:hover{
    transition: ease-in;
    transition-duration: 250ms;
    opacity: 1;
}

#LandingPage{
}

#TripticContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: end;
    margin: 50px;
}

#TripticOne{
    background: white;
    width: 30vw;
    height: 85vh;
}

#TripticTwo{
    background: gray;
    width: 30vw;
    height: 85vh;
}

#TripticThree{
    background: orangered;
    width: 30vw;
    height: 85vh;
}